body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#cabecalho-pizzaria {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Garante que o cabeçalho fique acima do conteúdo rolável */
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto; /* Centralizar o conteúdo */
}

#select-size {
    margin-top: 80px;
    text-align: center;
    padding: 20px; /* Reduzir o espaço em dispositivos móveis */
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* display: none; */
}
#select-size h2 {
    font-size: 24px; /* Reduzir o tamanho da fonte em dispositivos móveis */
}

#pizzas-tamanho {
    
    display: flex;
    flex-wrap: wrap; /* Permitir que os botões de tamanho quebrem para a próxima linha */
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Reduzir o espaçamento em dispositivos móveis */
}

.pizza-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    border: none;
    background: none;
    padding: 10px; /* Reduzir o espaçamento em dispositivos móveis */
    margin: 10px 0; /* Adicionar margem vertical em dispositivos móveis */
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.pizza-img {
    height: auto;
    width: 60px; /* Reduzir o tamanho da imagem em dispositivos móveis */
}

.pizza-text {
    margin-top: 5px; /* Reduzir a margem superior em dispositivos móveis */
    font-size: 14px; /* Reduzir o tamanho da fonte em dispositivos móveis */
}

#popout {
    margin-top: 80px;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#popout-gerar-comanda {
    margin-top: 20px;
    display: none;
    font-weight: bold;
    padding: 20px; /* Reduzir o espaçamento em dispositivos móveis */
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

#popout-gerar-comanda button {
    font-weight: bold;
    max-width: 180px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.popout-category {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popout-category button {
    font-weight: bold;
    max-width: 180px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.popout-category button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #f1f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #pizzas-tamanho {
        flex-direction: column;
        align-items: center;
    }

    .pizza-btn {
        width: 100%;
        max-width: 300px; /* Limitar a largura dos botões em dispositivos móveis */
    }

    .pizza-text {
        font-size: 12px;
    }

    #popout-gerar-comanda button,
    .popout-category button {
        max-width: 100%;
    }
}
